@page "/"
@using Model.Pieces;
@using Model.Enums;
@using Newtonsoft.Json;
@using StateService;
@using System.IO.Pipelines;
@using Newtonsoft;

@if (pieces == null)
{
    <p><em>Loading...</em></p>
}
else
{

    @if (showBadMoveError)
    {
        <div>That move is impossible.</div>
    }

<table class="table">
    <tbody>
        @for (int x=1;x<9;x++)
        {
            <tr>
                @for (int y = 1; y < 9; y++)
                {

                        @if (@pieces.Where(p => p.PositionIs(x, y))?.FirstOrDefault() == null)
                        {
                            <td>
                                <div>"&nbsp;&nbsp;"</div>
                            </td>
                        }
                        else
                        {
                            if (@pieces.Where(p => p.PositionIs(x, y))?.FirstOrDefault()!.Colour == Colour.Black)
                            {
                                <td>
                                    <p>&nbsp;@pieces.Where(p => p.PositionIs(x, y))?.FirstOrDefault()?.GetType().ToString()[13]&nbsp;</p>
                                </td>
                            }
                            else
                            {
                            <td>
                                    <p class="white-piece">&nbsp;@pieces.Where(p => p.PositionIs(x, y))?.FirstOrDefault()?.GetType().ToString()[13]&nbsp;</p>
                            </td>
                            }
                        }
                        
                            
                }
            </tr>
        }
    </tbody>
</table>

<input type="text" @bind="moveInput" />
<button class="btn btn-primary" @onclick="Move">Click me</button>
<p>If move not allowed, remember x for capture</p>
}

@code {
    private List<Piece>? pieces;
    private string moveInput;
    private bool showBadMoveError = false;
    protected override async Task OnInitializedAsync()
    {
        pieces = Machine.StartMatch("classic");
    }
    private void Move()
    {
        if (Machine.Move(moveInput) == null)
        {
            showBadMoveError = true;
        }
        else
        {
            showBadMoveError = false;
        }
    }
}

<style>
    .white-piece {
        color:red;
    }
</style>